<div name="youtube">
  <div>
    <h2>youtube</h2>
    <%= link_to "検索結果一覧はコチラをクリック", "http://www.youtube.com/results?search_query=#{key}", { target: "_blank" } %>
  </div>
  <br>
  <% @youtube.each do |y| %>
    <div>
      <%= link_to y[:title], y[:url], { target: "_blank" } %>
    </div>
  <% end %>
</div>
