<div name="youtube">
  <h2>youtube 関連動画</h2>
  <% @youtube.each do |y| %>
    <%= link_to y[:title], y[:url], { target: "_blank" } %>
    <br>
  <% end %>
  <br>
  <%= link_to "更に検索...", "http://www.youtube.com/results?search_query=#{key}", { target: "_blank" } %>
</div>
